In [1]:
import numpy as np
import pandas as pd

In [14]:
df = pd.DataFrame({'col1': [1, 2, 3, 4],
                  'col2': [444, 555, 666, 444],
                  'col3': ['abc', 'def', 'ghi', 'jklm']})
print(df)
print(df.head())

   col1  col2  col3
0     1   444   abc
1     2   555   def
2     3   666   ghi
3     4   444  jklm
   col1  col2  col3
0     1   444   abc
1     2   555   def
2     3   666   ghi
3     4   444  jklm

In [7]:
print(df['col2'].unique()) # All unique values in 'col2'
print(len(df['col2'].unique())) # number of unique values
print(df['col2'].nunique()) # number of unique values

[444 555 666]
3
3

In [9]:
print(df['col2'].value_counts()) # How many times each unique value occur

444    2
555    1
666    1
Name: col2, dtype: int64

In [11]:
print(df[(df['col1']>2) & (df['col2']==444)]) # Conditional operators

   col1  col2 col3
3     4   444  jkl

In [16]:
# Apply custom functions on DataFrames using apply()

def times2(x):
    return 2*x

print(df['col1'].apply(times2))
print(df['col3'].apply(len))

print(df['col2'].apply(lambda x: x*2))

0    2
1    4
2    6
3    8
Name: col1, dtype: int64
0    3
1    3
2    3
3    4
Name: col3, dtype: int64
0     888
1    1110
2    1332
3     888
Name: col2, dtype: int64

In [19]:
print(df.drop('col1', axis=1)) # Not inplace
print(df)

   col2  col3
0   444   abc
1   555   def
2   666   ghi
3   444  jklm
   col1  col2  col3
0     1   444   abc
1     2   555   def
2     3   666   ghi
3     4   444  jklm

In [23]:
print(df.columns)
print(df.index)

Index(['col1', 'col2', 'col3'], dtype='object')
RangeIndex(start=0, stop=4, step=1)

In [27]:
print(df.sort_values(by='col2')) # Sort values by col2

   col1  col2  col3
0     1   444   abc
3     4   444  jklm
1     2   555   def
2     3   666   ghi

In [28]:
print(df.isnull()) # True where values are null in dataframe

    col1   col2   col3
0  False  False  False
1  False  False  False
2  False  False  False
3  False  False  False

In [33]:
data = {'A': ['foo', 'foo', 'foo', 'bar', 'bar', 'bar'],
       'B': ['one', 'one', 'two', 'two', 'one', 'one'],
       'C': ['x', 'y', 'x', 'y', 'x', 'y'],
       'D': [1, 3, 2, 5, 4, 1]}
df = pd.DataFrame(data)
print(df)
print("\n\n")

# values as Data Points
# index as multi-level index
# columns 
print(df.pivot_table(values='D', index=['A', 'B'], columns=['C']))

     A    B  C  D
0  foo  one  x  1
1  foo  one  y  3
2  foo  two  x  2
3  bar  two  y  5
4  bar  one  x  4
5  bar  one  y  1



C          x    y
A   B
bar one  4.0  1.0
    two  NaN  5.0
foo one  1.0  3.0
    two  2.0  NaN