In [1]:
import numpy as np
import pandas as pd

In [2]:
data = {'Company': ['GOOG', 'GOOG', 'MSFT', 'MSFT', 'FB', 'FB'],
       'Person': ['Sam', 'Charlie', 'Amy', 'Vanessa', 'Carl', 'Sarah'],
       'Sales': [200, 120, 340, 124, 243, 350]}

In [3]:
df = pd.DataFrame(data)
print(df)

  Company   Person  Sales
0    GOOG      Sam    200
1    GOOG  Charlie    120
2    MSFT      Amy    340
3    MSFT  Vanessa    124
4      FB     Carl    243
5      FB    Sarah    350

In [13]:
print(df.groupby('Company'))
bycomp = df.groupby('Company')

print(bycomp.mean()) # Mean
print(bycomp.sum()) # Sum
print(bycomp.std()) # Std Deviation

print(bycomp.sum().loc['FB'])

print(bycomp.count()) # Count
print(bycomp.max()) # Max
print(bycomp.min()) # Min

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x10f8877f0>
         Sales
Company
FB       296.5
GOOG     160.0
MSFT     232.0
         Sales
Company
FB         593
GOOG       320
MSFT       464
              Sales
Company
FB        75.660426
GOOG      56.568542
MSFT     152.735065
Sales    593
Name: FB, dtype: int64
         Person  Sales
Company
FB            2      2
GOOG          2      2
MSFT          2      2
          Person  Sales
Company
FB         Sarah    350
GOOG         Sam    200
MSFT     Vanessa    340
          Person  Sales
Company
FB          Carl    243
GOOG     Charlie    120
MSFT         Amy    124

In [16]:
print(df.groupby('Company').describe().transpose())

Company              FB        GOOG        MSFT
Sales count    2.000000    2.000000    2.000000
      mean   296.500000  160.000000  232.000000
      std     75.660426   56.568542  152.735065
      min    243.000000  120.000000  124.000000
      25%    269.750000  140.000000  178.000000
      50%    296.500000  160.000000  232.000000
      75%    323.250000  180.000000  286.000000
      max    350.000000  200.000000  340.000000